@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    173 Xuân Thủy<br />
    Cầu Giấy, Hà Nội<br />
    <abbr title="Phone">P:</abbr>
    024.3910.6868
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:htbinh@hnue.edu.vn">htbinh@hnue.edu.vn</a><br />
    <strong>Marketing:</strong> <a href="mailto:htbinh@hnue.edu.vn">htbinh@hnue.edu.vn</a>
</address>