@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HỆ THỐNG HỌC TẬP THÔNG MINH</h1>
    <p class="lead">Hệ thống học tập thông minh là hệ thống cho phép người học tối ưu hóa các nền tảng học tập, tăng sự tương tác
    giữa người học và hệ thống, cho phép người học đạt được kết quả cao trong thời gian tối ưu nhất.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hệ thống học tập thông minh</h2>
        <p>
            Đây là hệ thống học tập thông minh, cho phép tương tác với người học dựa trên phong cách học và 
            các phản hồi của người học trong suốt quá trình học.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Để tìm hiểu thêm</h2>
        <p>Xin mời liên hệ với các tác giả</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Liên hệ</h2>
        <p>Xin mời liên hệ với tác giả.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>